* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.theme-light {
    --picture-color: url("../images/plant-background.png");
    --heading-color: #ffffff;
    --navbar-color: #7BB376;
    --main-color: #fbfbfe;
    --font-color: #000000;
    --link-color: #325364;
    --body-picture-color: url("../images/plant-line-art.png");
    --mobile-picture-color: url("../images/mobile-plant-line-art.png");
    --icon-color: brightness(100%);
}

.theme-dark {
    --picture-color: url("../images/plant-background-dark.jpg");
    --heading-color: #ccc;
    --navbar-color: #b1640d;
    --main-color: #282a36;
    --font-color: #ccc;
    --link-color: #ffffff;
    --body-picture-color: url("../images/plant-line-art-dark.png");
    --mobile-picture-color: url("../images/mobile-plant-line-art-dark.png");
    --icon-color: brightness(80%);
}

/*Below is the custom fonts I used as well as all the elements I implemented them on.*/
@font-face { font-family: Staatliches; src: url('Staatliches.ttf'); }
@font-face { font-family: Ubuntu-Light; src: url('Ubuntu-Light.ttf'); }

body {
    font-family: Ubuntu-Light;
    background-color: var(--main-color);
    color: var(--font-color);
    margin: 0;
    font-size: 125%;
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 350%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 145%;
}

h4 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 135%;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }
}

/*Below is the styling for the header and its contents.*/
header {
    background-color: #2D4030;
    color: var(--heading-color);
    padding: 0.5%;
    width: auto;
    height: auto;
    align-items: center;
    background-image: var(--picture-color);
    transition: all 0.9s;
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: space-around;
}

#headshot {
    width: auto;
    height: auto;
}

.profile-headshot {
    border: 5px solid var(--heading-color);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#name {
    width: auto;
    height: auto;
    text-align: center;
}

#contact {
    width: auto;
    height: auto;
    text-align: left;
}

#contact dd {
    margin-left: 0%;
}

.contact-icons {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: var(--icon-color);
}

/*Mobile portrait scaling.*/
@media only screen and (max-width: 600px) {
    header {
        background-image: var(--picture-color);
        background-size: cover;
        flex-direction: column;
    }
    #name h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #name h2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #contact h2 {
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
    }
}


/*Below is the styling for my navbar and toggle switch.*/
nav {
    background-color: var(--navbar-color);
    width: auto;
    height: auto;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: space-around;
    /*position: sticky;
    top: 0%;*/
}

nav h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

[href] {
    color: var(--link-color);
    text-decoration: underline;
    background: transparent;
}

[href]:hover {
    opacity: 85%;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: var(--link-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--navbar-color);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: var(--link-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    nav {
        flex-wrap: wrap;
    }
}


/*Below is the styling for the navigation bar as well as the main body and their contents.*/
main {
    width: auto;
    height: auto;
    background-image: var(--body-picture-color);
    background-repeat: no-repeat;
    background-position-x: 75%;
    background-position-y: 95%;
    transition: all 0.9s;
}

.content {
    border: 0.5px solid var(--font-color);
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content p {
    margin-left: 32px;
}

#statsflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
}

/*Mobile portrait scaling.*/
@media only screen and (max-width: 600px) {
    main {
        background-image: var(--mobile-picture-color);
        background-size: 100px;
        background-position-x: 75%;
        background-position-y: 4050px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .content h2 {
        text-align: center;
    }
    .content h3 {
        text-align: center;
    }
    .content h4 {
        text-align: center;
    }
    .content p {
        margin-left: 0%;
    }
    .content dd {
      margin-left: 0%;
    }
    [href]:hover {
        opacity: 100%;
    }
    #statsflex {
        flex-direction: column;
    }
}


/*Below is the styling for the footer and its contents.*/
footer {
    background-color: #2D4030;
    color: var(--heading-color);
    text-align: center;
    background-image: var(--picture-color);
    width: auto;
    height: auto;
    transition: all 0.9s;
}

footer h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.connect-icons {
    width: 50px;
    height: 50px;
    margin: 5px;
    filter: var(--icon-color);
}

.connect-icons:hover {
    box-shadow: 0 5px 15px #FFFFFF;
    border-radius: 50px;
}

/*Mobile portrait scaling.*/
@media only screen and (max-width: 600px) {
    .connect-icons:hover {
        box-shadow: none;
    }
}