* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*Below are my variable color schemes.*/
.theme-light {
    --picture-color: url("../images/plant-background.png");
    --heading-color: #ffffff;
    --navbar-color: #7BB376;
    --main-color: #fbfbfe;
    --font-color: #000000;
    --link-color: #325364;
    --body-picture-color: url("../images/plant-line-art.png");
    --mobile-picture-color: url("../images/mobile-plant-line-art.png");
    --icon-color: brightness(100%);
}

.theme-dark {
    --picture-color: url("../images/plant-background-dark.jpg");
    --heading-color: #ccc;
    --navbar-color: #b1640d;
    --main-color: #282a36;
    --font-color: #ccc;
    --link-color: #ffffff;
    --body-picture-color: url("../images/plant-line-art-dark.png");
    --mobile-picture-color: url("../images/mobile-plant-line-art-dark.png");
    --icon-color: brightness(80%);
}

/*Below are the custom fonts I used.*/
@font-face { 
    font-family: Staatliches; 
    src: url('Staatliches.ttf');
    font-display: swap; 
}
@font-face { 
    font-family: Ubuntu-Light; 
    src: url('Ubuntu-Light.ttf');
    font-display: swap; 
}

/*Below is the styling for my main body as well as my headings*/
body {
    font-family: Ubuntu-Light;
    background-color: var(--main-color);
    color: var(--font-color);
    margin: 0;
    font-size: 125%;
    transition: all 0.9s;
}

h1 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 350%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 145%;
}

h4 {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    font-size: 135%;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }
}
/*Mobile landscape scaling.*/
@media only screen and (max-width: 1000px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }
}

/*Below is the styling for the header and its contents.*/
header {
    background-color: #2D4030;
    color: var(--heading-color);
    padding: 0.5%;
    width: auto;
    height: auto;
    align-items: center;
    background-image: var(--picture-color);
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: space-around;
}

#headshot {
    width: auto;
    height: auto;
}

.profile-headshot {
    border: 5px solid var(--heading-color);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

#name {
    width: auto;
    height: auto;
    text-align: center;
}

#contact {
    width: auto;
    height: auto;
    text-align: left;
}

.contact-icons {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: var(--icon-color);
}

/*Mobile portrait scaling.*/
@media only screen and (max-width: 600px) {
    header {
        background-image: var(--picture-color);
        background-size: cover;
        flex-direction: column;
    }
    #name h1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #name h2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #contact h2 {
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
    }
}
/*Mobile landscape scaling.*/
@media only screen and (max-width: 1000px) {
    header {
        background-image: var(--picture-color);
        background-size: cover;
    }
}


/*Below is the styling for my navbar and toggle switch.*/
.bg-light {
    background-color: var(--navbar-color) !important;
}

#navbar-nav mr-auto li {
    text-align: left;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--link-color);
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}

.nav-link {
    padding: 0%;
}

.contact-icon {
    width: 40px;
    height: 40px;
}

[href] {
    color: var(--link-color);
    text-decoration: underline;
    background: transparent;
}

[href]:hover {
    opacity: 85%;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: var(--link-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: var(--navbar-color);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: var(--link-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/*Mobile portrait scaling.*/
@media only screen and (max-width: 600px) {

}
/*Mobile landscape scaling.*/
@media only screen and (max-width: 1000px) {

}


/*Below is the styling for the main body and it's contents.*/
main {
    width: auto;
    height: auto;
    /*background-image: var(--body-picture-color);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 43%;*/
    margin-left: 450px;
    margin-right: 450px;
}

.content {
    border: 0.5px solid var(--font-color);
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content p {
    margin-left: 32px;
}

#project-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel{
    width: 450px;
    height: 450px;
}

.btn-primary {
    color: var(--font-color);
    background-color: var(--navbar-color);
    border: none;
}

.btn-primary:hover {
    background-color: var(--navbar-color);
    text-decoration: underline;
}

/*Mobile portrait scaling.*/
@media only screen and (max-width: 600px) {
    main {
        background-image: none;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0%;
        margin-right: 0%;
    }
    .content h2, h3, h4{
        text-align: center;
    }
    .content p {
        margin-left: 0%;
    }
    [href]:hover {
        opacity: 100%;
    }
    .carousel {
        width: 350px;
        height: 350px;
    }
}
/*Mobile landscape scaling.*/
@media only screen and (max-width: 1000px) {
    main {
        width: auto;
        height: auto;
        background-image: none;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0%;
        margin-right: 0%;
    } 
}

/*Below is the styling for the footer and its contents.*/
footer {
    background-color: #2D4030;
    color: var(--heading-color);
    text-align: center;
    background-image: var(--picture-color);
    width: auto;
    height: auto;
}

footer h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
    margin-bottom: 0%;
}

footer ul li a {
    width: 80px;
    height: 80px;
    background-color: transparent;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid var(--heading-color);
    z-index: 1;
}

footer ul li a .icon {
    position: relative;
    color: var(--heading-color);
    transition: .5s;
    z-index: 3;
}

footer ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

footer ul li a:hover:before {
top: 0;
}

footer ul li:nth-child(1) a:before{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

footer ul li:nth-child(2) a:before{
    background: #000000;
}

footer ul li:nth-child(3) a:before {
    background: #0072b1;
}

/*Mobile portrait scaling.*/
@media only screen and (max-width: 600px) {
    .connect-icons:hover {
        box-shadow: none;
    }
}
/*Mobile landscape scaling.*/
@media only screen and (max-width: 1000px) {
    .connect-icons:hover {
        box-shadow: none;
    }
}

.modal-header {
    border-bottom: 1px solid var(--font-color);
    background-color: var(--navbar-color);
}

.modal-content {
    background-color: var(--main-color);
}

.w-50 {
    width: auto !important;
}

.p-5 {
    padding: 0% !important;
}